body {
    background-color: lavender;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

main {
    background-color: white;
    width: 400px;
    padding: 40px 120px;

    box-shadow: lightgray 0 16px 64px;
}

form {
    margin: 40px 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

p {
    display: flex;
    gap: 0.8rem;

    font-family: 'Fira Sans', sans-serif;
    color: gray;
}

.flex-block {
    flex-direction: column;
    width: 100%;
}

.flex-inline {
    flex-direction: row;
    width: max-content;
    align-items: center;
}

label {
    font-weight: 500;
}

input {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid lightgray;
    transition: border 0.1s ease-in-out 0.1s;

    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

input:focus:not([type=checkbox]) {
    outline: 0;
    border: 2px solid blue;
}

input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
}

button {
    padding: 0.8rem;
    background-color: blue;
    border: none;
    border-radius: 8px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    color: white;
}

a {
    text-decoration: none;
}