.modal {
    background-color: white;
    width: 640px;
    height: fit-content;
    max-height: 100vh;
    padding: 40px 120px;

    box-shadow: #c0c0c0 0 8px 20px;
    border-radius: 8px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}