extends layouts/main.pug

block metadata
    title Login
    link(rel='stylesheet' href='/css/modal.css')
    link(rel='stylesheet' href='/css/form.css')
    link(rel='stylesheet' href='/css/inputs.css')

block content
    main.modal
        h1 Log In
        p Welcome! Please log in to your account.

        form(hx-boost='true' method='post')
            div.top-label-container
                label(for='email') Email
                input#email(name='email' type='email' placeholder='example@domain.com' required)
            div.top-label-container
                label(for='password') Password
                input#password(name='password' type='password' placeholder='c;shdgiejfsd' required)
            div.side-label-container
                input#remember(name='remember' type='checkbox')
                label(for='remember') Remember Me?
            div.side-label-container
                a(href='/forgot-password') Forgot Password?
            div.top-label-container
                button Log In
            div.side-label-container
                | Don't have an account?
                a(href='/signup') Sign Up