extends layouts/main.pug

block metadata
    title Sign Up
    link(rel='stylesheet' href='/css/modal.css')
    link(rel='stylesheet' href='/css/form.css')
    link(rel='stylesheet' href='/css/inputs.css')

block content
    main.modal
        h1 Sign Up
        p Welcome! Please create your new account.

        form(hx-boost='true' method='post')
            div.top-label-container
                label(for='name') Name
                input#name(name='name' type='text' placeholder='John Titor' required)
            div.top-label-container
                label(for='email') Email
                input#email(name='email' type='email' placeholder='example@domain.com' required)
            div.top-label-container
                label(for='password') Password
                input#password(name='password' type='password' placeholder='c;shdgiejfsd' required)
            div.top-label-container
                button Sign Up
            div.side-label-container
                | Already have an account?
                a(href='/login') Log In
