doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/global.css')
        link(rel='stylesheet' href='/css/toast.css')
        block metadata
    body
        block content
        div#toast-container
        script(src='/modules/htmx/htmx.min.js')
        script(src='/modules/htmx/ext/response-targets.js')
        script(src='/js/toaster.js')